{
  "extends": "stylelint-config-standard",
  "rules": {
    "at-rule-no-unknown": [ true, {
       "ignoreAtRules": [ "value", "apply" ]
     }],
    "at-rule-empty-line-before": [ "always" , {
      except: ["all-nested", "blockless-after-same-name-blockless", "blockless-group", "first-nested"]
    }]
  }
}
